
body {
	font-family: sans-serif;	
	background-image: url(images/background2.jpg);
	background-repeat: repeat;
	
}

#container {
	width: 85%;
	background: rgba(239, 241, 245, 0.8);	
	margin-left: auto;
	margin-right: auto;
	padding: 15px 20px 15px 20px;
	border-radius: 15px
}

header {
	text-align: center;
	width:70%;
	position:center;
	color: white;
	padding-top: 20px;
	background-image: url(images/Chicago2.jpg);
	opacity: 4.0;
	padding-bottom: 10px;
	margin:30px 15% 30px 15%;
	border: 2px solid #595959;
	border-radius: 50px;
}

header>h2 {
	font-size: 200%;
	margin-bottom: -10px;
}

nav {	
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #bdbdbd;	
}

nav > ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #9dcafb;
	border-radius: 25px;
}

nav li{
	float: left;
}

nav a {
	display: block;
	color:white;
	padding: 14px 16px;
	text-decoration: none;

}

nav a:hover {
	background-color: #064a93;
}

nav a:active {
	color: #064a93;
}

#introheader {
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	padding-left: 10px;
}

.intro {
	text-align: left;
	padding: 20px 20px 20px 25px;
	border-bottom: 1px solid #bdbdbd;
}

.bulktext {
	margin-right: 5%;
	margin-left: 5%;
}


#aboutMe {
	text-align: left;
	list-style-position: inside;
	padding-left: 10%;
}

.portlab {
	width:90%;
	padding-left:3%;
	padding-right:3%;
	text-align: center;
	margin: 0 auto;
}

.repolab {
	text-align: center;
	display: inline-block;
	position: relative;
	width: 200px;	
	margin: 3%;
	font-size: 115%;
	font-weight: bold;
	color: #1b3056;
}

#par {
	text-align: left;
	font-size: 90%;
	font-weight: normal;
	color:#3e3e3e;
}

footer {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding-top: 60px;
	padding-bottom: 30px;
	
}

footer > a:link {
	text-decoration: none;
	color:#5482f8;
}

footer > a:visited {
	text-decoration: none;
	color: black;
}

footer > a:hover {
	text-decoration: none;
	color:#ff8533;

}

footer > a:active {
	text-decoration: none;
	color:white;
}
