html {
	text-align: center;
	font-family: sans-serif;


}

body {
	background: #eff1f5;
	background-repeat: repeat;
}



header {
	margin:auto;
	width:600px;
	color: black;
	padding-top: 20px;
	background-image: url(images/background.jpg);
	opacity: 4.0;
	padding-bottom: 10px;
	margin:30px 30px 30px 30px;
	border: 2px solid black;
	border-radius: 50px;

}

header>h2 {
	font-size: 200%;
	margin-bottom: -10px;

}

nav {
	width: 650px;
	text-align: left;
	padding-left: 15px;
	font-size: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #bdbdbd;	
}

nav > ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #9dcafb;
	border-radius: 25px;
}

nav li{
	float: left;
}

nav a {
	display: block;
	color:white;
	padding: 14px 16px;
	text-decoration: none;

}

nav a:hover {
	background-color: #064a93;
}

nav a:active {
	color: #064a93;


}

#introheader {
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	padding-left: 10px;
}

.intro {
	text-align: left;
	padding: 20px 20px 20px 25px;
	border-bottom: 1px solid #bdbdbd;
}


#aboutMe {
	text-align: left;
	list-style-position: inside;
	padding-left: 100px;
}

footer {
	font-weight: bold;
	font-size: 12px;
	padding: 30px 0px 30px 0px;
}

footer > a:link {
	text-decoration: none;
	color:#5482f8;
}

footer > a:visited {
	text-decoration: none;
	color: black;
}

footer > a:hover {
	text-decoration: none;
	color:#ff8533;

}

footer > a:active {
	text-decoration: none;
	color:white;
}